@import url('https://fonts.googleapis.com/css?family=Raleway:500,500i,800');

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#center-text {
    position: fixed;
    background: rgba(71, 55, 41, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#background-video {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
     -webkit-filter: blur(10px);
   -o-filter: blur(10px);
   -ms-filter: blur(10px);
   filter: blur(5px);
 }

#color-white {
    color: #f1f1f1;
}

section {
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
}

.headtitle{
    height: 50px;
    padding: 0 5%;
}

.mediumtitle{
    height: 30px;
    padding: 0 5%;
}

.artistlist{
    height: 50px;
    padding: 5% 7%;
    text-align: center;
}