<!DOCTYPE html>
<html>
    <head>
        <title>groove</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="ui container">
            <div class="ui container center-text" id="album-image">
                <!-- song image inserted here -->
            </div>
            <div>
                <div id="album-title">
                    <!-- title inserted here -->
                </div>
                <div id="album-artist">
                    <!-- artist inserted here -->
                </div>
            </div>
            <div class="ui segment" id="album-tracks">
            </div>

        </div>
    </body>
    <script src="/static/js/api.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="/static/js/sdk.js"></script>
    <script src="/static/js/album.js"></script>
</html>