<!DOCTYPE html>
<html>
    <head>
        <title>groove</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="ui small menu">
            <a class="item">
                groove
            </a>
            <a class="item">
                Home
            </a>
            <a class="item">
                Profile
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui primary button">Logout</div>
                </div>
            </div>
        </div>
        <div class="ui red button">
                <i class="heart icon"></i> Like
        </div>
            asdf
    </body>
</html>