<!DOCTYPE html>
<html>
    <head>
        <title>groove</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="ui container">
            <img class="ui centered circular medium image" src="/static/assets/nick.jpg">
        </div>

    </body>
</html>