<!DOCTYPE html>
<html>
    <head>
        <title>groove</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <p>hello</p>
        <div class="ui container center-screen">
            <div class="ui container" id="song-image">
                <!-- song image inserted here -->
            </div>
            <div>
                <div id="song-title">
                    <!-- title inserted here -->
                </div>
                <div id="song-artist">
                    <!-- artist inserted here -->
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/song.js"></script>
</html>